{% extends "base.html" %}

{% block title %}
	Edit Student
{% endblock %}

{% block content %}
	<table class="table table-striped table-bordered table-condensed table-hover">
		<tr>
			<th>修改项</th>
			<th></th>
		</tr>
		<tr>
			<td><input type="text" name="name" class="long_txt" />{{ student.lastname ~ student.firstname }}</td>
			<td>{{ student.lastname ~ student.firstname }}</td>
			<td><input type="text" name="name" class="long_txt" /></td>
			<td><input type="text" name="birthdate" class="long_txt" /></td>
		</tr>

	</table>
{% endblock %}